doctype html

html
    head
        title Parcel Sandbox
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/styles.css")

    body.game
        #app
            h1 TicTacToe
            h2#playerTurn Turn: Player 1
            table.board#board= board
            footer
                button#reset Reset
        
        script(src="stuff.js")
        footer &copy Copyright 2020 Tommi Kunnari
